<div class="flex flex-col items-center p-2 space-y-3">
  <img class="h-48" src="/assets/owl.svg" />
  <button
    type="button"
    routerLink="signup"
    class="
      inline-flex
      items-center
      px-4
      py-2
      border border-transparent
      text-base
      font-medium
      rounded-md
      shadow-sm
      text-white
      bg-indigo-600
      hover:bg-indigo-700
      focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500
    "
  >
    Sign Up
  </button>
</div>
